<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css">
    <title>Mini Message Board | Home </title>
</head>
<body>
    <h1 class="heading">Messages</h1>
    <div class="messageContainer">

    <% messages.forEach (message => { %>
      <div class="messageCard">
        <div class="cardHeader">
            <h3 class="authorname"> <%= message.user %> </h3>
            <a href="/details/<%= message.id %>"<span>Details</span></a>
        </div>
        <p class="message"> <%= message.text %> </p>
           
        <p class="date"> <%= message.added %> </p>
      </div>
    <% }) %> 
    </div>
    <button class="newBtn"><a href="/new"><span>New message</span></a></button>
</body>
</html>